@charset "utf-8";
/* CSS Document */
.security_main{ margin:0px 0 80px 0;}
.security_main .top_warp{ width:100%; background:#454545;}
.security_main .top_warp .tab_top{ width:94%; margin:0 16px;}
.security_main .top_warp .tab_top tr{ line-height:40px;}
.security_main .top_warp .tab_top tr td{ text-align:center;}
.security_main .top_warp .tab_top tr:first-child  td{ font-size:1em; color:#fff; padding-top:15px;}
.security_main .top_warp .tab_top tr:last-child  td{ font-size:1.5em; color:#f2b31b; padding-bottom:10px;}
.security_main .prompting{ margin:16px; line-height:24px; color:#888;}
.security_main .prompting >img{ width:24px; vertical-align:middle; padding-right:8px;}

.tab_warp >table{ width:94%; margin:16px auto;}
.tab_warp >table tr{ line-height:56px; border-bottom:1px solid #e2e2e2;}
.bg_img{ background:url(../images/next.png) center right no-repeat; background-size:24px; padding-right:28px;}
input { width:90%; text-align:right;}

.tab_warp{ margin-top:20px;}
.tab_warp .tab_bear{ margin:16px;}
.tab_bear tr td div .img_header{ width:60px;}
.tab_bear tr td div .img_next{ width:24px; vertical-align:middle;}

.tab_bear .line{ line-height:48px;border-bottom:1px solid #ddd;}
.tab_bear tr td div .img_icon{ width:30px;vertical-align:middle; }









