@charset "utf-8";
/* CSS Document */

.tab_input{ margin:0 16px;}
.tab_input .line_bottom{ line-height:42px; border-bottom:1px solid #ddd; padding:0 16px;}
input[type="number"]{ text-align:right;}
.bg_icon{ background:url(../images/next.png) no-repeat center right; background-size:24px;}

/*计算、重置按钮*/
.repert_btn{ margin:16px;}
button{width:100%;line-height:50px; text-align:center; border-radius:50px;font-size:1.2em;}
.repert_btn .lf_btn{ width:48%; float:left;}
.repert_btn .lf_btn button{   border:1px solid #f2b31b;  color:#f2b31b; }
.repert_btn .rg_btn{ width:48%; float:right;}
.repert_btn .rg_btn button{ border:1px solid #454545; color:#454545;}

/*计算出的结果*/
.resule{ margin:20px 16px;}
.resule li{ line-height:28px;}
.resule li span{ color:#f2b31b;}

.btn{ margin:20px 16px;}












