@charset "utf-8";
/* CSS Document */
.reg_main{ width:100%; height:auto; background:#dde1e7;}
.reg_main img{ display:block;}
.repert_btn{ margin:16px;}
button{width:100%;line-height:50px; text-align:center; border-radius:50px;font-size:1.2em;}
.repert_btn .lf_btn{ width:48%; float:left;}
.repert_btn .lf_btn button{   border:1px solid #f2b31b;  color:#f2b31b; }
.repert_btn .rg_btn{ width:48%; float:right;}
.repert_btn .rg_btn button{ border:1px solid #454545; color:#454545;}
.img_ul li{ margin:20px auto;}













