@charset "utf-8";
/* CSS Document */
.reg_main{ margin-top:30px;}
.reg_main .reg_ul{}
.reg_main .reg_ul li{ border-bottom:1px solid #ddd; width:100%; line-height:50px; }
.reg_main .reg_ul li button{ text-align:right;  padding:0 20px; line-height:30px; background:none;color:#f2b31b;font-size:1em; border:none; }
.reg_main .submit{ margin-top:50px; margin:50px 24px 15px 24px;}
.reg_main .submit #submit{ display:block; width:100%; line-height:50px; text-align:center; }
.reg_main .submit .xieyi{ line-height:40px; font-size:0.875em;}
.reg_main .submit .xieyi a{font-size:0.875em; color:#06F;}
.reg_main .submit .xieyi img{ vertical-align:middle; height:16px;}
input{ width:90%;}


.prompt{ width:94%; margin:0 auto;}
.prompt h3{ color:#f2b31b;}
.prompt p{ line-height:28px; font-size:0.875em; color:#999;}













